:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --box-shadow-hover: 0 5px 10px rgba(108, 97, 246, 0.7);
}

body {
  margin: 60px auto;
  max-width: 100%;
}

h1,
h2,
h3,
p {
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 64px;
}

.hh1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

.hh2 {
  padding-left: 20px;
  font-size: 44px;
  text-align: start;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  padding: 20px;
  font-size: 18px;
  line-height: 1.5;
  text-align: start;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;

  transition: background 200ms ease-in-out, color 200ms ease-in-out,
    box-shadow 200ms ease-in-out;
}

.contact-link:hover,
.contact-link:focus {
  background: var(--secondary-color);
  color: var(--primary-color);
  box-shadow: var(--box-shadow-hover);
}

.about-link {
  background: inherit;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);

  transition: background 200ms ease-in-out, color 200ms ease-in-out,
    box-shadow 200ms ease-in-out;
}

.about-link:hover,
.about-link:focus {
  background: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: var(--box-shadow-hover);
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
  margin-bottom: 60px;
}

.email-link:hover {
  text-decoration: underline;
}

.xlapushka-span {
  font-size: 18px;
}

.active-menu {
  font-weight: bold;
}

.hover-menu:hover {
  color: var(--primary-color) !important;
}

.apps {
  margin-top: 44px;
  padding-left: 20px;
  margin-bottom: 60px;
}

.app-link {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  color: white;
  text-transform: capitalize;

  background: var(--primary-color);
  box-shadow: var(--box-shadow);

  transition: background 200ms ease-in-out, color 200ms ease-in-out,
    box-shadow 200ms ease-in-out;
  white-space: nowrap;
}

.app-link:hover,
.app-link:focus {
  background: var(--secondary-color);
  color: var(--primary-color);
  box-shadow: var(--box-shadow-hover);
}
